################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eWolfPixels
/packages
/Pixel/eWolfPixelCoreUI/bin/Debug
/Pixel/eWolfPixelCoreUI/obj/Debug
/Pixel/eWolfPixelStandard/bin/Debug/netstandard2.0
/Pixel/eWolfPixelStandard/obj
/Pixel/eWolfPixelStandard.UnitTests/bin/Debug/netcoreapp2.1
/Pixel/eWolfPixelStandard.UnitTests/obj
/Pixel/eWolfPixelStandardExtra/obj/Debug/netcoreapp2.1
/Pixel/DummyTestProject/Char1/Walk_6_2.png
/Pixel/DummyTestProject/Char1/Walk_6_1.png
/Pixel/DummyTestProject/Char1/Walk_6_0.png
/Pixel/DummyTestProject/Char1/Walk_5_2.png
/Pixel/DummyTestProject/Char1/Walk_5_1.png
/Pixel/DummyTestProject/Char1/Walk_5_0.png
/Pixel/DummyTestProject/Char1/Walk_4_2.png
/Pixel/DummyTestProject/Char1/Walk_4_1.png
/Pixel/DummyTestProject/Char1/Walk_4_0.png
/Pixel/DummyTestProject/Char1/Walk_3_2.png
/Pixel/DummyTestProject/Char1/Walk_3_1.png
/Pixel/DummyTestProject/Char1/Walk_3_0.png
/Pixel/DummyTestProject/Char1/Walk_2_2.png
/Pixel/DummyTestProject/Char1/Walk_2_1.png
/Pixel/DummyTestProject/Char1/Walk_2_0.png
/Pixel/DummyTestProject/Char1/Walk_1_2.png
/Pixel/DummyTestProject/Char1/Walk_1_1.png
/Pixel/DummyTestProject/Char1/Walk_1_0.png
/Pixel/DummyTestProject/Char1/Walk_0_2.png
/Pixel/DummyTestProject/Char1/Walk_0_1.png
/Pixel/DummyTestProject/Char1/Walk_0_0.png
/Pixel/DummyTestProject/Char1/Walk_7_3.png
/Pixel/DummyTestProject/Char1/Walk_7_2.png
/Pixel/DummyTestProject/Char1/Walk_7_1.png
/Pixel/DummyTestProject/Char1/Walk_7_0.png
/Pixel/DummyTestProject/Char1/Walk_6_3.png
/Pixel/DummyTestProject/Char1/Walk_5_3.png
/Pixel/DummyTestProject/Char1/Walk_4_3.png
/Pixel/DummyTestProject/Char1/Walk_3_3.png
/Pixel/DummyTestProject/Char1/Walk_2_3.png
/Pixel/DummyTestProject/Char1/Walk_1_3.png
/Pixel/DummyTestProject/Char1/Walk_0_3.png
/Pixel/DummyTestProject/Farmer/Walking_7_3.png
/Pixel/DummyTestProject/Farmer/Walking_7_2.png
/Pixel/DummyTestProject/Farmer/Walking_7_1.png
/Pixel/DummyTestProject/Farmer/Walking_7_0.png
/Pixel/DummyTestProject/Farmer/Walking_6_3.png
/Pixel/DummyTestProject/Farmer/Walking_6_2.png
/Pixel/DummyTestProject/Farmer/Walking_6_1.png
/Pixel/DummyTestProject/Farmer/Walking_6_0.png
/Pixel/DummyTestProject/Farmer/Walking_5_3.png
/Pixel/DummyTestProject/Farmer/Walking_5_2.png
/Pixel/DummyTestProject/Farmer/Walking_5_1.png
/Pixel/DummyTestProject/Farmer/Walking_5_0.png
/Pixel/DummyTestProject/Farmer/Walking_4_3.png
/Pixel/DummyTestProject/Farmer/Walking_4_2.png
/Pixel/DummyTestProject/Farmer/Walking_4_1.png
/Pixel/DummyTestProject/Farmer/Walking_4_0.png
/Pixel/DummyTestProject/Farmer/Walking_3_3.png
/Pixel/DummyTestProject/Farmer/Walking_3_2.png
/Pixel/DummyTestProject/Farmer/Walking_3_1.png
/Pixel/DummyTestProject/Farmer/Walking_3_0.png
/Pixel/DummyTestProject/Farmer/Walking_2_3.png
/Pixel/DummyTestProject/Farmer/Walking_2_2.png
/Pixel/DummyTestProject/Farmer/Walking_2_1.png
/Pixel/DummyTestProject/Farmer/Walking_2_0.png
/Pixel/DummyTestProject/Farmer/Walking_1_3.png
/Pixel/DummyTestProject/Farmer/Walking_1_2.png
/Pixel/DummyTestProject/Farmer/Walking_1_1.png
/Pixel/DummyTestProject/Farmer/Walking_1_0.png
/Pixel/DummyTestProject/Farmer/Walking_0_3.png
/Pixel/DummyTestProject/Farmer/Walking_0_2.png
/Pixel/DummyTestProject/Farmer/Walking_0_1.png
/Pixel/DummyTestProject/Farmer/Walking_0_0.png
/Pixel/eWolfPixelStandard/eWolfPixelStandard.csproj.user
/Pixel/eWolfPixelCoreUI/eWolfPixelUI.csproj.user
/Pixel/DummyTestProject/Test/Walk_7_3.png
/Pixel/DummyTestProject/Test/Walk_7_2.png
/Pixel/DummyTestProject/Test/Walk_7_1.png
/Pixel/DummyTestProject/Test/Walk_7_0.png
/Pixel/DummyTestProject/Test/Walk_6_3.png
/Pixel/DummyTestProject/Test/Walk_6_2.png
/Pixel/DummyTestProject/Test/Walk_6_1.png
/Pixel/DummyTestProject/Test/Walk_6_0.png
/Pixel/DummyTestProject/Test/Walk_5_3.png
/Pixel/DummyTestProject/Test/Walk_5_2.png
/Pixel/DummyTestProject/Test/Walk_5_1.png
/Pixel/DummyTestProject/Test/Walk_5_0.png
/Pixel/DummyTestProject/Test/Walk_4_3.png
/Pixel/DummyTestProject/Test/Walk_4_2.png
/Pixel/DummyTestProject/Test/Walk_4_1.png
/Pixel/DummyTestProject/Test/Walk_4_0.png
/Pixel/DummyTestProject/Test/Walk_3_3.png
/Pixel/DummyTestProject/Test/Walk_3_2.png
/Pixel/DummyTestProject/Test/Walk_3_1.png
/Pixel/DummyTestProject/Test/Walk_3_0.png
/Pixel/DummyTestProject/Test/Walk_2_3.png
/Pixel/DummyTestProject/Test/Walk_2_2.png
/Pixel/DummyTestProject/Test/Walk_2_1.png
/Pixel/DummyTestProject/Test/Walk_2_0.png
/Pixel/DummyTestProject/Test/Walk_1_3.png
/Pixel/DummyTestProject/Test/Walk_1_2.png
/Pixel/DummyTestProject/Test/Walk_1_1.png
/Pixel/DummyTestProject/Test/Walk_1_0.png
/Pixel/DummyTestProject/Test/Walk_0_3.png
/Pixel/DummyTestProject/Test/Walk_0_2.png
/Pixel/DummyTestProject/Test/Walk_0_1.png
/Pixel/DummyTestProject/Test/Walk_0_0.png
/Pixel/DummyTestProject/Cat/Walk_7_3.png
/Pixel/DummyTestProject/Cat/Walk_7_2.png
/Pixel/DummyTestProject/Cat/Walk_7_1.png
/Pixel/DummyTestProject/Cat/Walk_7_0.png
/Pixel/DummyTestProject/Cat/Walk_6_3.png
/Pixel/DummyTestProject/Cat/Walk_6_2.png
/Pixel/DummyTestProject/Cat/Walk_6_1.png
/Pixel/DummyTestProject/Cat/Walk_6_0.png
/Pixel/DummyTestProject/Cat/Walk_5_3.png
/Pixel/DummyTestProject/Cat/Walk_5_2.png
/Pixel/DummyTestProject/Cat/Walk_5_1.png
/Pixel/DummyTestProject/Cat/Walk_5_0.png
/Pixel/DummyTestProject/Cat/Walk_4_3.png
/Pixel/DummyTestProject/Cat/Walk_4_2.png
/Pixel/DummyTestProject/Cat/Walk_4_1.png
/Pixel/DummyTestProject/Cat/Walk_4_0.png
/Pixel/DummyTestProject/Cat/Walk_3_3.png
/Pixel/DummyTestProject/Cat/Walk_3_2.png
/Pixel/DummyTestProject/Cat/Walk_3_1.png
/Pixel/DummyTestProject/Cat/Walk_3_0.png
/Pixel/DummyTestProject/Cat/Walk_2_3.png
/Pixel/DummyTestProject/Cat/Walk_2_2.png
/Pixel/DummyTestProject/Cat/Walk_2_1.png
/Pixel/DummyTestProject/Cat/Walk_2_0.png
/Pixel/DummyTestProject/Cat/Walk_1_3.png
/Pixel/DummyTestProject/Cat/Walk_1_2.png
/Pixel/DummyTestProject/Cat/Walk_1_1.png
/Pixel/DummyTestProject/Cat/Walk_1_0.png
/Pixel/DummyTestProject/Cat/Walk_0_3.png
/Pixel/DummyTestProject/Cat/Walk_0_2.png
/Pixel/DummyTestProject/Cat/Walk_0_1.png
/Pixel/DummyTestProject/Cat/Walk_0_0.png
